.header{
    
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}