.header{
    background-image: url("https://images.unsplash.com/flagged/photo-1551592398-c320012bc1c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    text-align: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}