*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "body"
    "footer";
    justify-content: center;
    gap: 1.7rem;
}
.header{
    grid-area: header;

}
.body{
    grid-area: body;
}
.footer{
    grid-area: footer;
}